html, body, #root{
  height: 100%;
  width: 100%;
  background-color: #274768;
}

#gridDiv{
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  flex-direction:column;
  color: tan;
}


#searchDiv{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 80px;
  padding-bottom: 20px;
}


#searchDiv > input{
  background-color: tan;
  height: 30px;
  width: 250px;
  border-radius: 40px;
  padding-left: 10px;
  border: 2px solid #09141F;
}


#searchDiv > button{
  border-radius: 20px;
  padding: 0px 15px ;
  border: 2px solid #09141F;
  background-color: tan;
  color: #102840;
}

#infoDiv{
  
  background-color: #102840;
  border-radius: 40px;
  border-left: solid 15px #09141f;
  border-bottom: solid 15px #09141f;
  border-right: solid 2px #09141f;
  border-top: solid 2px #09141f;
}


#dayDiv{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#currentWeatherDiv{
  width: 50%;
}

#dateNow{
  padding-left: 10px;
  font-size: small;
}

#nameP{
  text-align: center;
}

#degreesP{
  font-size: xx-large;
  text-align: center;
}


#minMaxDiv{
  display: flex;
  gap: 10px;
  justify-content: center;
}

#othersInfDiv{
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid yellow;
}



#weatherImg{
  width: 20%;
  padding: 10%;
  margin: 4%;
  border: solid #09141f 2px;
  border-radius: 10px;
}





#weekDiv{
  height: 30%;
}

#weekDiv > ul{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0%;
}

#weekDiv > li{
  width: 25%;
}


.text-center{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  
  #infoDiv{
  
    border: solid 2px #09141f;
    padding-bottom:10px;
  }

  #gridDiv{
   
    padding-left: 15px;
    padding-right: 15px;
  }

  #dayDiv > * {
    width: 100%;
  }

  #weekDiv > ul{
    flex-direction: column;
  }

  li{
    border-top: solid #09141f 2px;
  }

  li > img{
    margin-left: 35%;
    width: 30%;
  }
}
