html, body, #root{
  height: 100%;
  width: 100%;
}

#gridDiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

#dayDiv{
  width: 40%;
  height: 30%;
  background-color: aqua;
}

#weekDiv{
  width: 40%;
  height: 30%;
  background-color:burlywood;
}

#mapsDiv{
  
}